.AdminCheckTransactions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.AdminCheckTransactions-container {
    width: 64%;
}

.AdminCheckTransactions-container .table {
    
}

.AdminCheckTransactions-container .MuiTable-root {
    padding: 20px;
    text-align: center;
}

.AdminCheckTransactions-container .MuiTableHead-root .MuiTableCell-root{
    height: 50px;
    font-weight: bold;
    border-bottom: none;
    /* font-size: 1rem; */
    /* background-color: var(--white); */
}
.AdminCheckTransactions-container .MuiTableBody-root .MuiTableCell-root .MuiInputBase-root{
    background-color: var(--yellow);
    height: 40px;
    width: 126px;
}

.AdminCheckTransactions-container .MuiTableRow-root {
    height: 30px;
    padding: 0px 20px;
    overflow: hidden;
    /* text-align: center; */
}

.AdminCheckTransactions-container .MuiTableCell-root{
    padding: 4px 0px;
    text-align: center;
    background-color: var(--white);
}
